main {
  max-width: 40rem;
  padding: 8rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
}

.art {
    margin: auto;
    border: 1px solid;
    height: 512px;
    width: 512px;
}